@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px grey;
    background: #c1d4c0;
    position: sticky;
    width: 100%;
}
header .logo{
    padding: 10px;
    font-weight:bold;
}
nav{
    margin-right:100px;
}
nav ul{
    display:flex;
    padding:0;
    margin:0;
   
}
nav ul li{
    list-style-type:none;
    padding: 10px;
}
nav ul li a{
    text-decoration:none;
    color:#000;
}
.banner{
    background:#c1d4c0;
    padding:20px 0;
}
.banner-wrapper{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.banner .left-section p{
    padding:10px 0;
}
.banner .left-section h1{
    padding:10px 0;
    font-size: 44px;
}
.banner button{
    background:#000;
    color:#FFF;
    padding:5px 20px;
}
.about{
    text-align:center;
    padding:15px 0;
}
.aboutcard{
    display:flex;
    justify-content:space-around;
    padding:10px 0;
}
.aboutcard .card{
    border:1px solid #000;
    padding:15px;
    width:20%;
}
.products{
    text-align:center;
}
.products h2{
     margin-bottom:40px;
}
.product-wrapper{
     background:#c1d4c0;
     padding:15px 0;
}
.productcard{
    display:flex;
    justify-content:space-around;
    padding:10px 0;
    
}
.productcard .card:nth-child(odd){
    position:relative;
    top:-50px;
}
.bestseller{
    width: 90%;
    margin: 0 auto;
    padding:20px 0;
}
.bestseller h2{
    padding:20px 0 10px;
}
.bestsellercard{
    display:flex;
    justify-content:space-between;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 40px;
}
